.topMain {
    width: 100%;
    position: relative;
    &__fv {
        width: 100%;
        min-height: 100vh;
        background-color: #fff;
        position: relative;
        z-index: 0;
        svg {
            fill: none;
            stroke: #00f;
            stroke-linejoin: round;
            stroke-width: 16px;
            fill-rule: evenodd
        }
        .intrCanvas {
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            width: 100%;
            height: 100vh;
            z-index: 4;
            overflow: hidden
        }
    }
}

.intrCanvas {
    .intrCanvas-container {
        width: 600px;
        height: 570px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        overflow: hidden;
        &.-on {
            top: 40%;
            -webkit-transition: all 1.6s cubic-bezier(.23, 1, .32, 1);
            transition: all 1.6s cubic-bezier(.23, 1, .32, 1)''
        }
        .-element1 {
            position: absolute;
            top: 0;
            left: 70px;
            height: 160px;
            width: 130px;
            background: red;
            opacity: 0;
        }
        .-element2 {
            position: absolute;
            top: 0;
            left: 220px;
            height: 160px;
            width: 130px;
            background: red;
            opacity: 0
        }
        .-element3 {
            position: absolute;
            top: 93px;
            left: 332px;
            height: 80px;
            width: 90px;
            background: red;
            opacity: 0
        }
        .-element4 {
            position: absolute;
            top: 15px;
            left: 410px;
            height: 160px;
            width: 130px;
            background: red;
            opacity: 0
        }
        .-element5 {
            position: absolute;
            top: 186px;
            left: 73px;
            height: 160px;
            width: 130px;
            background: red;
            opacity: 0
        }
        .-element6 {
            position: absolute;
            top: 186px;
            left: 230px;
            height: 160px;
            width: 130px;
            background: red;
            opacity: 0
        }
        .-element7 {
            position: absolute;
            top: 186px;
            left: 440px;
            height: 160px;
            width: 130px;
            background: red;
            opacity: 0
        }
        .-element8 {
            position: absolute;
            top: 353px;
            left: 70px;
            height: 160px;
            width: 219px;
            background: red;
            opacity: 0
        }
        .-element9 {
            position: absolute;
            top: 353px;
            left: 302px;
            height: 160px;
            width: 219px;
            background: red;
            opacity: 0
        }
    }
}

.intrTypo {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    z-index: 3;
    overflow: hidden;
    &-container {
        width: 465px;
        height: 520px;
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.-on {
            top: 40%;
            transition: all 1.6s cubic-bezier(.23, 1, .32, 1)
        }
        &-inner {
            width: 930px;
            height: 1040px;
            margin: 0 auto;
            position: relative;
            transform: scale(.5);
            transform-origin: 0 0;
            div {
                transform: rotate(12deg);
                transform-origin: 100px 100px;
                &.-on {
                    transform: rotate(0);
                    transition: all .2s ease-out;
                }
            }
        }
    }
}

.word_1 {
    position: absolute;
    top: 0;
    left: 0;
    &_1 {
        position: absolute;
        top: 120px;
        left: 15px;
        stroke-dasharray: 750px;
        stroke-dashoffset: 750px;
        transition: .75s ease-out all;
        &.-on {
            stroke-dashoffset: 0;
        }
    }
    &_2 {
        position: absolute;
        top: 76px;
        left: 41px;
        stroke-dasharray: 200px;
        stroke-dashoffset: 200px;
        transition: .2s ease-out all;
        .-on {
            stroke-dashoffset: 0;
        }
    }
    &_3 {
        position: absolute;
        top: 24px;
        left: 122px;
        stroke-dasharray: 310px;
        stroke-dashoffset: 310px;
        transition: .31s ease-out all;
        &.-on {
            stroke-dashoffset: 0;
            &.-del {
                animation: anim_1_3 1s 1 linear;
                animation-fill-mode: forwards;
            }
        }
    }
}

@keyframes anim_1_3 {
    0% {
        transform: rotateX(0) rotateZ(0) rotateY(0);
        transform-origin: center center
    }
    79.99% {
        transform: rotateX(0) rotateZ(360deg) rotateY(-360deg);
        transform-origin: center center
    }
    80% {
        transform: rotateX(0) rotateZ(0);
        transform-origin: center bottom
    }
    100% {
        transform: rotateX(90deg) rotateZ(0) translate3d(0, 0, 15px);
        transform-origin: center bottom
    }
}

.word_2 {
    position: absolute;
    top: 19px;
    left: 316px;
    &_1 {
        position: absolute;
        top: 49px;
        left: 23px;
        stroke-dasharray: 105px;
        stroke-dashoffset: 105px;
        transition: 105ms ease-out all;
        &.-on {
            stroke-dashoffset: 0
        }
    }
    &_2 {
        position: absolute;
        top: 49px;
        left: 165px;
        stroke-dasharray: 75;
        stroke-dashoffset: 75;
        transition: 75ms ease-out all;
        &.-on {
            stroke-dashoffset: 0
        }
        &_3 {
            position: absolute;
            top: -4px;
            left: 80px;
            stroke-dasharray: 250px;
            stroke-dashoffset: 250px;
            transition: .25s ease-out all;
            &.-on {
                stroke-dashoffset: 0
            }
        }
    }
}

.word_2_4 {
    position: absolute;
    top: 232px;
    left: 36px;
    stroke-dasharray: 200px;
    stroke-dashoffset: 200px;
    -webkit-transition: .2s ease-out all;
    transition: .2s ease-out all
}

.word_2_4.-on {
    stroke-dashoffset: 0
}

.word_2_4.-on.-del {
    -webkit-animation: anim_2_4 1s 1 linear;
    animation: anim_2_4 1s 1 linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@keyframes anim_2_4 {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
        transform: rotateX(0) rotateY(0) rotateZ(0);
        left: 36px
    }
    90% {
        -webkit-transform: rotateX(45deg) rotateY(0) rotateZ(30deg);
        transform: rotateX(45deg) rotateY(0) rotateZ(30deg);
        opacity: 1;
        top: 250px;
        left: 16px
    }
    100% {
        -webkit-transform: rotateX(45deg) rotateY(0) rotateZ(30deg);
        transform: rotateX(45deg) rotateY(0) rotateZ(30deg);
        opacity: 1;
        top: 250px;
        left: 16px
    }
}

.word_2_5 {
    position: absolute;
    top: 221px;
    left: 25px;
    opacity: 0
}

.word_2_5.-del {
    -webkit-animation: anim_2_5 1s 1 linear;
    animation: anim_2_5 1s 1 linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@keyframes anim_2_5 {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
        transform: rotateX(0) rotateY(0) rotateZ(0);
        opacity: 0
    }
    1% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
        transform: rotateX(0) rotateY(0) rotateZ(0);
        opacity: 1;
        left: 25px
    }
    90% {
        -webkit-transform: rotateX(45deg) rotateY(0) rotateZ(-150deg) translate(-30px, 5px);
        transform: rotateX(45deg) rotateY(0) rotateZ(-150deg) translate(-30px, 5px);
        opacity: 1;
        top: 221px;
        left: 5px
    }
    100% {
        -webkit-transform: rotateX(45deg) rotateY(0) rotateZ(-150deg) translate(-30px, 5px);
        transform: rotateX(45deg) rotateY(0) rotateZ(-150deg) translate(-30px, 5px);
        opacity: 1;
        top: 221px;
        left: 5px
    }
}

.word_3 {
    position: absolute;
    top: 225px;
    left: 554px
}

.word_3_1 {
    position: absolute;
    top: 3px;
    left: 22px;
    stroke-dasharray: 70px;
    stroke-dashoffset: 70px;
    -webkit-transition: 70ms ease-out all;
    transition: 70ms ease-out all
}

.word_3_1.-on {
    stroke-dashoffset: 0
}

.word_3_2 {
    position: absolute;
    top: 3px;
    left: 78px;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: .13s ease-out all;
    transition: .13s ease-out all
}

.word_3_2.-on {
    stroke-dashoffset: 0
}

.word_3_3 {
    position: absolute;
    top: 71px;
    left: 44px;
    stroke-dasharray: 60px;
    stroke-dashoffset: 60px;
    -webkit-transition: 60ms ease-out all;
    transition: 60ms ease-out all
}

.word_3_3.-on {
    stroke-dashoffset: 0
}

.word_3_2.-on.-del {
    -webkit-animation: anim_3_2 1s 1 linear;
    animation: anim_3_2 1s 1 linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@keyframes anim_3_2 {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0) scale(1);
        transform: rotateX(0) rotateY(0) rotateZ(0) scale(1)
    }
    70% {
        -webkit-transform: rotateX(360deg) rotateY(90deg) rotateZ(0) scale(.1);
        transform: rotateX(360deg) rotateY(90deg) rotateZ(0) scale(.1);
        opacity: 1;
        top: 25px;
        left: 76px
    }
    100% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0) scale(.1);
        transform: rotateX(0) rotateY(0) rotateZ(0) scale(.1);
        opacity: 0;
        top: 25px;
        left: 76px
    }
}

.word_4 {
    position: absolute;
    top: 68px;
    left: 654px
}

.word_4_1 {
    position: absolute;
    top: 0;
    left: 31px;
    stroke-dasharray: 230px;
    stroke-dashoffset: 230px;
    -webkit-transition: .23s ease-out all;
    transition: .23s ease-out all
}

.word_4_1.-on {
    stroke-dashoffset: 0
}

.word_4_2 {
    position: absolute;
    top: 3px;
    left: 108px;
    stroke-dasharray: 380;
    stroke-dashoffset: 380;
    -webkit-transition: .38s ease-out all;
    transition: .38s ease-out all
}

.word_4_2.-on {
    stroke-dashoffset: 0
}

.word_4_2.-on.-del {
    -webkit-animation: anim_4_2 1s 1 linear;
    animation: anim_4_2 1s 1 linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@keyframes anim_4_2 {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0) scale(1);
        transform: rotateX(0) rotateY(0) rotateZ(0) scale(1);
        top: 24px;
        left: 120px
    }
    70% {
        -webkit-transform: rotateX(80deg) rotateY(0) rotateZ(360deg) scale(.1);
        transform: rotateX(80deg) rotateY(0) rotateZ(360deg) scale(.1);
        opacity: 1;
        top: 144px;
        left: 170px
    }
    100% {
        -webkit-transform: rotateX(80deg) rotateY(0) rotateZ(360deg) scale(.1);
        transform: rotateX(80deg) rotateY(0) rotateZ(360deg) scale(.1);
        opacity: 0;
        top: 144px;
        left: 170px
    }
}

.word_5 {
    position: absolute;
    top: 420px;
    left: 10px
}

.word_5_1 {
    position: absolute;
    top: 19px;
    left: 25px;
    stroke-dasharray: 860px;
    stroke-dashoffset: 860px;
    -webkit-transition: .86s ease-out all;
    transition: .86s ease-out all
}

.word_5_1.-on {
    stroke-dashoffset: 0
}

.word_5_1.-on.-del {
    -webkit-animation: anim_5_1 1s 1 linear;
    animation: anim_5_1 1s 1 linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@keyframes anim_5_1 {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0) translate(0, 0) scale(1, 1);
        transform: rotateX(0) rotateY(0) rotateZ(0) translate(0, 0) scale(1, 1)
    }
    70% {
        -webkit-transform: rotateX(60deg) rotateY(0) rotateZ(45deg) translate(80px, 80px) scale(.8, .8);
        transform: rotateX(60deg) rotateY(0) rotateZ(45deg) translate(80px, 80px) scale(.8, .8);
        opacity: 1;
        top: 35px
    }
    100% {
        -webkit-transform: rotateX(60deg) rotateY(0) rotateZ(45deg) translate(80px, 80px) scale(.8, .8);
        transform: rotateX(60deg) rotateY(0) rotateZ(45deg) translate(80px, 80px) scale(.8, .8);
        opacity: 1;
        top: 35px
    }
}

.word_6 {
    position: absolute;
    top: 379px;
    left: 324px
}

.word_6_1 {
    position: absolute;
    top: 9px;
    left: 17px;
    stroke-dasharray: 175px;
    stroke-dashoffset: 175px;
    -webkit-transition: 175ms ease-out all;
    transition: 175ms ease-out all
}

.word_6_1.-on {
    stroke-dashoffset: 0
}

.word_6_2 {
    position: absolute;
    top: 70px;
    left: 127px;
    stroke-dasharray: 335px;
    stroke-dashoffset: 335px;
    -webkit-transition: 335ms ease-out all;
    transition: 335ms ease-out all
}

.word_6_2.-on {
    stroke-dashoffset: 0
}

.word_6_3 {
    position: absolute;
    top: 175px;
    left: 0;
    stroke-dasharray: 320px;
    stroke-dashoffset: 320px;
    -webkit-transition: .32s ease-out all;
    transition: .32s ease-out all;
    fill: transparent
}

.word_6_3.-on {
    stroke-dashoffset: 0;
    fill: #00f;
    stroke-width: 1px
}

.word_6_4 {
    position: absolute;
    top: 173px;
    left: 176px;
    stroke-dasharray: 320px;
    stroke-dashoffset: 320px;
    -webkit-transition: .32s ease-out all;
    transition: .32s ease-out all
}

.word_6_4.-on {
    stroke-dashoffset: 0
}

.word_6_5 {
    position: absolute;
    top: 10px;
    left: 209px;
    stroke-dasharray: 50px;
    stroke-dashoffset: 50px;
    -webkit-transition: .1s ease-out all;
    transition: .1s ease-out all
}

.word_6_5.-on {
    stroke-dashoffset: 0
}

.word_6_6 {
    position: absolute;
    top: 10px;
    left: 237px;
    stroke-dasharray: 50px;
    stroke-dashoffset: 50px;
    -webkit-transition: .1s ease-out all;
    transition: .1s ease-out all
}

.word_6_6.-on {
    stroke-dashoffset: 0
}

.word_6_4.-on.-del {
    -webkit-animation: anim_6_4 1s 1 linear;
    animation: anim_6_4 1s 1 linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@keyframes anim_6_4 {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        top: 175px
    }
    70% {
        -webkit-transform: rotateX(75deg) rotateY(180deg) scale(.2) translate(20px, 0);
        transform: rotateX(75deg) rotateY(180deg) scale(.2) translate(20px, 0);
        top: 222px;
        opacity: 1
    }
    100% {
        -webkit-transform: rotateX(75deg) rotateY(180deg) scale(.2) translate(20px, 0);
        transform: rotateX(75deg) rotateY(180deg) scale(.2) translate(20px, 0);
        opacity: 0;
        top: 242px
    }
}

.word_7 {
    position: absolute;
    top: 588px;
    left: 651px
}

.word_7_1 {
    position: absolute;
    top: 4px;
    left: 7px;
    stroke-dasharray: 50px;
    stroke-dashoffset: 50px;
    -webkit-transition: .1s ease-out all;
    transition: .1s ease-out all
}

.word_7_1.-on {
    stroke-dashoffset: 0
}

.word_7_2 {
    position: absolute;
    top: 4px;
    left: 39px;
    stroke-dasharray: 50px;
    stroke-dashoffset: 50px;
    -webkit-transition: .1s ease-out all;
    transition: .1s ease-out all
}

.word_7_2.-on {
    stroke-dashoffset: 0
}

.word_7_3 {
    position: absolute;
    top: 3px;
    left: 25px;
    stroke-dasharray: 135px;
    stroke-dashoffset: 135px;
    -webkit-transition: 135ms ease-out all;
    transition: 135ms ease-out all
}

.word_7_3.-on {
    stroke-dashoffset: 0
}

.word_8 {
    position: absolute;
    top: 360px;
    left: 805px
}

.word_8_1 {
    position: absolute;
    top: 15px;
    left: 19px;
    stroke-dasharray: 300px;
    stroke-dashoffset: 300px;
    -webkit-transition: .3s ease-out all;
    transition: .3s ease-out all
}

.word_8_1.-on {
    stroke-dashoffset: 0
}

.word_8_2 {
    position: absolute;
    top: 149px;
    left: 52px;
    stroke-dasharray: 80px;
    stroke-dashoffset: 80px;
    -webkit-transition: 80ms ease-out all;
    transition: 80ms ease-out all
}

.word_8_2.-on {
    stroke-dashoffset: 0
}

.word_8_1.-on.-del {
    -webkit-animation: anim_8_1 1s 1 linear;
    animation: anim_8_1 1s 1 linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@keyframes anim_8_1 {
    0% {
        -webkit-transform: rotateX(0) rotateZ(0) rotateY(0);
        transform: rotateX(0) rotateZ(0) rotateY(0);
        -webkit-transform-origin: center center;
        transform-origin: center center
    }
    79.99% {
        -webkit-transform: rotateX(0) rotateZ(360deg) rotateY(-360deg);
        transform: rotateX(0) rotateZ(360deg) rotateY(-360deg);
        -webkit-transform-origin: center center;
        transform-origin: center center
    }
    80% {
        -webkit-transform: rotateX(0) rotateZ(0);
        transform: rotateX(0) rotateZ(0);
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom
    }
    100% {
        -webkit-transform: rotateX(90deg) rotateZ(0);
        transform: rotateX(90deg) rotateZ(0);
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom
    }
}

.word_9 {
    position: absolute;
    top: 718px;
    left: 15px
}

.word_9_1 {
    position: absolute;
    top: 0;
    left: -5px;
    stroke-dasharray: 590px;
    stroke-dashoffset: 590px;
    -webkit-transition: .59s ease-out all;
    transition: .59s ease-out all
}

.word_9_1.-on {
    stroke-dashoffset: 0
}

.word_9_2 {
    position: absolute;
    top: 119px;
    left: 146px;
    stroke-dasharray: 135px;
    stroke-dashoffset: 135px;
    -webkit-transition: 135ms ease-out all;
    transition: 135ms ease-out all
}

.word_9_2.-on {
    stroke-dashoffset: 0
}

.word_9_3 {
    position: absolute;
    top: 169px;
    left: 115px;
    stroke-dasharray: 200px;
    stroke-dashoffset: 200px;
    -webkit-transition: .2s ease-out all;
    transition: .2s ease-out all
}

.word_9_3.-on {
    stroke-dashoffset: 0
}

.word_9_4 {
    position: absolute;
    top: 196px;
    left: 130px;
    stroke-dasharray: 400px;
    stroke-dashoffset: 400px;
    -webkit-transition: .4s ease-out all;
    transition: .4s ease-out all
}

.word_9_4.-on {
    stroke-dashoffset: 0
}

.word_9_4.-on.-del {
    -webkit-animation: anim_9_4 1s 1 linear;
    animation: anim_9_4 1s 1 linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@keyframes anim_9_4 {
    0% {
        -webkit-transform: rotate3d(1, 0, 0, 0deg) scale(1) translate(0, 0);
        transform: rotate3d(1, 0, 0, 0deg) scale(1) translate(0, 0)
    }
    70% {
        -webkit-transform: rotate3d(1, 0, 0, 75deg) scale(-1) translate(0, -220px);
        transform: rotate3d(1, 0, 0, 75deg) scale(-1) translate(0, -220px);
        opacity: 1;
        top: 170px
    }
    100% {
        -webkit-transform: rotate3d(1, 0, 0, 75deg) scale(0) translate(0, -220px);
        transform: rotate3d(1, 0, 0, 75deg) scale(0) translate(0, -220px);
        opacity: 1;
        top: 230px
    }
}

.word_10 {
    position: absolute;
    top: 720px;
    left: 515px
}

.word_10_1 {
    position: absolute;
    top: 23px;
    left: 45px;
    stroke-dasharray: 80px;
    stroke-dashoffset: 80px;
    -webkit-transition: 80ms ease-out all;
    transition: 80ms ease-out all
}

.word_10_1.-on {
    stroke-dashoffset: 0
}

.word_10_2 {
    position: absolute;
    top: 63px;
    left: 20px;
    stroke-dasharray: 140px;
    stroke-dashoffset: 140px;
    -webkit-transition: .14s ease-out all;
    transition: .14s ease-out all
}

.word_10_2.-on {
    stroke-dashoffset: 0
}

.word_10_3 {
    position: absolute;
    top: 119px;
    left: 43px;
    stroke-dasharray: 80px;
    stroke-dashoffset: 80px;
    -webkit-transition: 80ms ease-out all;
    transition: 80ms ease-out all
}

.word_10_3.-on {
    stroke-dashoffset: 0
}

.word_10_4 {
    position: absolute;
    top: 159px;
    left: 43px;
    stroke-dasharray: 80px;
    stroke-dashoffset: 80px;
    -webkit-transition: 80ms ease-out all;
    transition: 80ms ease-out all
}

.word_10_4.-on {
    stroke-dashoffset: 0
}

.word_10_5 {
    position: absolute;
    top: 200px;
    left: 33px;
    stroke-dasharray: 350px;
    stroke-dashoffset: 350px;
    -webkit-transition: .35s ease-out all;
    transition: .35s ease-out all
}

.word_10_5.-on {
    stroke-dashoffset: 0
}

.word_10_5.-on.-del {
    -webkit-animation: anim_10_5 1s 1 linear;
    animation: anim_10_5 1s 1 linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@keyframes anim_10_5 {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0) translate(0, 0) scale(1, 1);
        transform: rotateX(0) rotateY(0) rotateZ(0) translate(0, 0) scale(1, 1)
    }
    70% {
        -webkit-transform: rotateX(60deg) rotateY(0) rotateZ(45deg) translate(40px, 45px) scale(.8, .8);
        transform: rotateX(60deg) rotateY(0) rotateZ(45deg) translate(40px, 45px) scale(.8, .8);
        opacity: 1;
        top: 224px
    }
    100% {
        -webkit-transform: rotateX(60deg) rotateY(0) rotateZ(45deg) translate(40px, 45px) scale(.8, .8);
        transform: rotateX(60deg) rotateY(0) rotateZ(45deg) translate(40px, 45px) scale(.8, .8);
        opacity: 1;
        top: 224px
    }
}

.word_10_6 {
    position: absolute;
    top: 2px;
    left: 233px;
    stroke-dasharray: 30px;
    stroke-dashoffset: 30px;
    -webkit-transition: 30ms ease-out all;
    transition: 30ms ease-out all
}

.word_10_6.-on {
    stroke-dashoffset: 0
}

.word_10_7 {
    position: absolute;
    top: 2px;
    left: 311px;
    stroke-dasharray: 30px;
    stroke-dashoffset: 30px;
    -webkit-transition: 30ms ease-out all;
    transition: 30ms ease-out all
}

.word_10_7.-on {
    stroke-dashoffset: 0
}

.word_10_8 {
    position: absolute;
    top: 43px;
    left: 192px;
    stroke-dasharray: 175px;
    stroke-dashoffset: 175px;
    -webkit-transition: 175ms ease-out all;
    transition: 175ms ease-out all
}

.word_10_8.-on {
    stroke-dashoffset: 0
}

.word_10_9 {
    position: absolute;
    top: 43px;
    left: 271px;
    stroke-dasharray: 120px;
    stroke-dashoffset: 120px;
    -webkit-transition: .12s ease-out all;
    transition: .12s ease-out all
}

.word_10_9.-on {
    stroke-dashoffset: 0
}

.word_10_10 {
    position: absolute;
    top: 79px;
    left: 193px;
    stroke-dasharray: 70px;
    stroke-dashoffset: 70px;
    -webkit-transition: 70ms ease-out all;
    transition: 70ms ease-out all
}

.word_10_10.-on {
    stroke-dashoffset: 0
}

.word_10_11 {
    position: absolute;
    top: 79px;
    left: 297px;
    stroke-dasharray: 70px;
    stroke-dashoffset: 70px;
    -webkit-transition: 70ms ease-out all;
    transition: 70ms ease-out all
}

.word_10_11.-on {
    stroke-dashoffset: 0
}

.word_10_12 {
    position: absolute;
    top: 123px;
    left: 193px;
    stroke-dasharray: 175px;
    stroke-dashoffset: 175px;
    -webkit-transition: 175ms ease-out all;
    transition: 175ms ease-out all
}

.word_10_12.-on {
    stroke-dashoffset: 0
}

.word_10_13 {
    position: absolute;
    top: 145px;
    left: 179px;
    stroke-dasharray: 280px;
    stroke-dashoffset: 280px;
    -webkit-transition: .28s ease-out all;
    transition: .28s ease-out all
}

.word_10_13.-on {
    stroke-dashoffset: 0
}

.word_10_14 {
    position: absolute;
    top: 208px;
    left: 181px;
    stroke-dasharray: 180px;
    stroke-dashoffset: 180px;
    -webkit-transition: .18s ease-out all;
    transition: .18s ease-out all
}

.word_10_14.-on {
    stroke-dashoffset: 0
}

.word_10_15 {
    position: absolute;
    top: 155px;
    left: 301px;
    stroke-dasharray: 190px;
    stroke-dashoffset: 190px;
    -webkit-transition: .19s ease-out all;
    transition: .19s ease-out all
}

.word_10_15.-on {
    stroke-dashoffset: 0
}

.word_10_16 {
    position: absolute;
    top: 232px;
    left: 327px;
    stroke-dasharray: 50px;
    stroke-dashoffset: 50px;
    -webkit-transition: 50ms ease-out all;
    transition: 50ms ease-out all
}

.word_10_16.-on {
    stroke-dashoffset: 0
}

.word_10_17 {
    position: absolute;
    top: 156px;
    left: 338px;
    stroke-dasharray: 85px;
    stroke-dashoffset: 85px;
    -webkit-transition: .6s ease-out all;
    transition: .6s ease-out all
}

.word_10_17.-on {
    stroke-dashoffset: 0;
    fill: #00f;
    stroke-width: 1px
}

;